{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block "content" %}

    <!-- Section: intro -->
    <section id="intro" class="intro">

        <div class="slogan">
            <h2>WELCOME TO <span class="text_color">Key Recommender</span> </h2>
            <h4>We provide solutions for hunting relevent data</h4>
        </div>
        <div class="page-scroll">
            <a href="#service" class="btn btn-circle">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </section>
    <!-- /Section: intro -->

<!-- Section: services -->
    <section id="service" class="home-section text-center bg-gray">

        <div class="heading-about">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                    <div class="section-heading">
                    <h2>Start your data hunting now</h2>
                    <i class="fa fa-2x fa-angle-down"></i>
                    <br>
                    <a href="datasets\f1">choose one of our datasets
                    </a>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- /Section: services -->


    !-- Section: about -->
    <section id="about" class="home-section text-center">
		<div class="heading-about">
			<div class="container">
				<img src="static/img/about team.jpg" alt="" class="img-responsive" />    
			</div>		
		</div>
	</section>
	<!-- /Section: about -->



    <!-- Section: contact -->
    <section id="contact" class="home-section text-center">
        <div class="heading-contact">
            <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                    <div class="section-heading">
                    <h2>Get in touch</h2>
                    <i class="fa fa-2x fa-angle-down"></i>

                    </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container">

        <div class="row">
            <div class="col-lg-2 col-lg-offset-5">
                <hr class="marginbot-50">
            </div>
        </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="boxed-grey">
                <form id="contact-form" method="post" action=".">
                    {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_name">
                                Name</label>
                            <input type="text" class="form-control" id="id_name" placeholder="Enter name" required="required" />
                        </div>
                        <div class="form-group">
                            <label for="id_email">
                                Email Address</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <input type="id_email" class="form-control" id="email" placeholder="Enter email"/></div>
                        </div>
                        <div class="form-group">
                            <label for="id_subject">
                                Subject</label>
                            <select id="id_subject" name="subject" class="form-control">
                                <option value selected="">---------</option>
                                <option value="GSC">General Customer Service</option>
                                <option value="Suggest">Suggestions</option>
                                <option value="PS">Product Support</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="id_message">
                                Message</label>
                            <textarea name="message" id="id_message" class="form-control" rows="9" cols="25"
                                placeholder="Message"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-skin pull-right" id="btnContactUs">
                            Send Message</button>
                    </div>
                </div>
                </form>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="widget-contact">
                
                  <strong>We're on social networks</strong><br>
                        <ul class="company-social">
                            <li class="social-facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-dribble"><a href="#" target="_blank"><i class="fa fa-dribbble"></i></a></li>
                            <li class="social-google"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                </address>

            </div>
        </div>
    </div>

        </div>
    </section>
    <!-- /Section: contact -->
{% endblock %}
